[submodule "tp/tp3/lib/pistache"]
	path = tp/tp3/lib/pistache
	url = https://github.com/oktal/pistache
[submodule "project/server/lib/pistache"]
	path = project/server/lib/pistache
	url = https://github.com/oktal/pistache
[submodule "project/server/lib/openssl"]
	path = project/server/lib/openssl
	url = https://github.com/openssl/openssl
